@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque5 {
    height: auto;
    background-color: black;
    padding: v.$separator_movil;
}

.bloque5Container {
    @include m.desktop_1020 {
        width: 50%;
    }
}

.bloque5Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    @include m.desktop_1020 {
        padding-left: 6rem;
        align-items: flex-start;
    }
    .bloque5Title {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        h3 {
            font-size: v.$phone_title_size;
            width: 21rem;
            margin: 0;
            color: white;
            font-weight: 400;
            text-align: center;
            @include m.desktop_1020 {
                width: 100%;
                font-size: v.$desktop_title_size;
                text-align: left;
            }
            span {
                font-weight: 800;
            }
        }
        h4 {
            font-size: v.$phone_sub_size;
        }
    }
}

.bloque5Content {
    width: 23rem;
    // background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    @include m.desktop_1020 {
        width: 80%;
        align-items: flex-start;
    }
}

.bloque5Item {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    &:nth-child(1) {
        border-bottom: 2px solid white;
        width: 85%;
    }
    &:nth-child(2) {
        border-bottom: 2px solid white;
        width: 85%;
    }
    &:nth-child(3) {
        // border-bottom: 2px solid white;
        width: 85%;
    }
    @include m.desktop_1020 {
        column-gap: 2rem;
    }
    h4 {
        margin: 0;
        align-items: center;
        font-size: 3rem;
        font-weight: 400;
        color: white;
        @include m.desktop_1020 {
            font-size: 4rem;
        }
        span {
            color: v.$color1;
        }
    }
    img {
        width: auto;
        height: 4rem;
        @include m.desktop_1020 {
            height: 6rem;
        }
    }
    h3 {
        margin: 0;
        padding: 3rem 0;
        font-weight: 500;
        color: white;
        font-size: 1.25rem;
        @include m.desktop_1020 {
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }
    p{
        color: white;
        font-size: 1rem;
        font-weight: 300;
        @include m.desktop_1020 {
            font-size: 1.4rem;
            line-height: 1.5;
            width: 40rem;
            font-weight: 250;
    }
}
}